doctype html

html(lang="en")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title= title

        link(rel="stylesheet" href="static/bundle.css")
        script(src="static/bundle.js" defer)

    body.container

        header
            h1= heading

        main#history-wrapper.pretty-scrollbar
            ul#history

        footer
            form#message-form
                - var messageHint = "Type a new chat message here!"
                input#message(placeholder=messageHint, title=messageHint, autocomplete="off", autofocus)
                button#message-send(title="Send message!")
                    i.fa.fa-lg.fa-paper-plane